{% extends 'portfolio/base.html' %}

{% load static %}

{% block content %}

<h1>Project1: LogicMonitor Automation</h1>
<div class="step">
    <h2>Introduction</h2>
    <p>This project shows the automation of LogicMonitor monitoring application using its REST API.</p>
    <p>LogicMonitor is a monitoring tool that alerts on issues with servers, network devices, cloud services and applications.</p>
    <p>I  wrote LogicMonitor functions in the form of Powershell cmdlets to carry out tasks such as reading new alerts and checking old alerts to see if they were still active.
    <p>The functions were stored in a module where they could be imported into any script that needed to programmatically interact with LogicMonitor.</p>
    <br>
    <br>
    <p>Here's a function that creates the LogicMonitor headers for authentication</p>
    <div class="code-panel">
        <button class="code-btn" onclick="toggleCode('LM1ModulecodeSnippet', this)">View Code Snippet</button>
        <pre id="LM1ModulecodeSnippet" class="code-snippet" style="display: none;">
            <code>
        function Get-LMHeaders ($HTTPVerb, $ResourcePath, $AccessID) {
            $epoch = [Math]::Round((New-TimeSpan -start (Get-Date -Date "1/1/1970") -end (Get-Date).ToUniversalTime()).TotalMilliseconds)
            $requestVars = $httpVerb + $epoch + $resourcePath
            $hmac = New-Object System.Security.Cryptography.HMACSHA256
            $hmac.Key = [Text.Encoding]::UTF8.GetBytes($accessKey)
            $signatureBytes = $hmac.ComputeHash([Text.Encoding]::UTF8.GetBytes($requestVars))
            $signatureHex = [System.BitConverter]::ToString($signatureBytes) -replace '-'
            $signature = [System.Convert]::ToBase64String([System.Text.Encoding]::UTF8.GetBytes($signatureHex.ToLower()))
            $auth = 'LMv1 ' + $accessId + ':' + $signature + ':' + $epoch
            $headers = New-Object "System.Collections.Generic.Dictionary[[String],[String]]"
            $headers.Add("Authorization",$auth)
            $headers.Add("Content-Type",'application/json')
            $headers.Add("x-version", "3")
            Return $headers
        }
            </code>
        </pre>
        <button class="hide-code-btn" onclick="hideCode('LM1ModulecodeSnippet')" style="display: none;" id="hide-LM1ModulecodeSnippet">Hide Code Snippet</button>
    </div>
    <br>
    <br>
    <p>Here's a function that gets the company id from LogicMonitor based on the monitor object id and type eg website, device</p>
    <div class="code-panel">
        <button class="code-btn" onclick="toggleCode('LM2ModulecodeSnippet', this)">View Code Snippet</button>
        <pre id="LM2ModulecodeSnippet" class="code-snippet" style="display: none;">
            <code>
        function Get-CompanyID ($MonitorObjectId, $MonitorObjectType) {
            if ($MonitorObjectType -eq 'website') {
                $httpVerb = 'GET'
                $resourcePath = "/website/websites/$MonitorObjectId/properties"
                $LMHeaders = Get-LMHeaders -HTTPVerb $httpVerb -ResourcePath $resourcePath -AccessID $accessId
                $url = 'https://' + $company + '.logicmonitor.com/santaba/rest' + $resourcePath
                $response = Invoke-RestMethod -Uri $url -Method Get -Header $LMheaders
                $CompanyID = ($response | Select -ExpandProperty items | Where {$_.name -eq 'lmproperty.accountid'}).value
            } elseif ($MonitorObjectType -eq 'device') {
                $httpVerb = 'GET'
                $resourcePath = '/device/devices'
                $QueryParams = "?filter=id:$MonitorObjectId"
                $LMHeaders = Get-LMHeaders -HTTPVerb $httpVerb -ResourcePath $resourcePath -AccessID $accessId
                $url = 'https://' + $company + '.logicmonitor.com/santaba/rest' + $resourcePath + $QueryParams
                $response = Invoke-RestMethod -Uri $url -Method Get -Header $LMheaders
                $CompanyID = ($response.items | Select -ExpandProperty inheritedProperties | Where {$_.name -eq 'lmproperty.accountid'}).value      
            } else {
                $httpVerb = 'GET'
                $resourcePath = '/device/devices'
                $QueryParams = "?filter=id:$MonitorObjectId"
                $LMHeaders = Get-LMHeaders -HTTPVerb $httpVerb -ResourcePath $resourcePath -AccessID $accessId
                $url = 'https://' + $company + '.logicmonitor.com/santaba/rest' + $resourcePath + $QueryParams
                $response = Invoke-RestMethod -Uri $url -Method Get -Header $LMheaders
                $CompanyID = ($response.items | Select -ExpandProperty inheritedProperties | Where {$_.name -eq 'lmproperty.accountid'}).value
            }
            Return $CompanyID
        }
            </code>
        </pre>
        <button class="hide-code-btn" onclick="hideCode('LM2ModulecodeSnippet')" style="display: none;" id="hide-LM2ModulecodeSnippet">Hide Code Snippet</button>
    </div>

</div>
{% endblock %}


