{% extends 'portfolio/base.html' %}

{% load static %}

{% block content %}

<h1>Project 1: Django REST API</h1>
<div class="step">
    <h2>Step 1: Project Setup</h2>
    <p>Description of setup process...</p>
    <button class="screenshot-btn" onclick="toggleScreenshot('screenshot1', this)">View Screenshot</button>
    <img src="{% static 'portfolio/project1/setup.png' %}" id="screenshot1" class="screenshot medium-size" alt="Project Setup">
    <button class="hide-btn" onclick="hideScreenshot('screenshot1')" style="display: none;" id="hide-screenshot1">Hide Screenshot</button>
</div>
{% endblock %}


